<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title>Conferences - Welcome</title>
<link
	th:href="@{/resources/css/timeline.css}"
	rel="stylesheet" type="text/css" />
</head>
<body>
	<div layout:fragment="content">

		<div class="container">
			<h1 class="project-name"><span th:text="${conference.name}"></span> scheduler</h1>
			<div id="timeline" th:if="${not #lists.isEmpty(programSections)}">

				<div class="timeline-item" th:each="program,iter : ${programSections}">
					<div class="timeline-icon">
						<i class="i-timeline-icon flaticon-network"></i>
					</div>
					<div th:class="${iter.index%2 == 0 ? 'timeline-content' : 'timeline-content right'}">
						<h2 th:text="${program.label}">LOREM IPSUM DOLOR</h2>
						<p th:text="${program.description}">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							Atque, facilis quo. Maiores magnam modi ab libero praesentium
							blanditiis consequatur aspernatur accusantium maxime molestiae
							sunt ipsa.</p>
						<div class="timeline-footer">
			                <p class="text-right" th:text="${'From ' + program.startDate + ' To ' + program.endDate}">Feb-23-2014</p>
			            </div>
					</div>
				</div>
			</div>
		</div>

		<div th:if="${#lists.isEmpty(programSections)}" class="col-lg-12">
			<div class="alert alert-warning" role="alert">scheduler not setted yet</div>
		</div>

	</div>
</body>
</html>